option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:9onvE6V+YqO6Oe8PNcGyuVWO2AjkgLQcqh19rfY5PxA=
    DB_HOST: menahousedb.cdexpzpwk7bu.us-east-1.rds.amazonaws.com
    DB_DATABASE: menahousedb
    DB_USERNAME: menahouse
    DB_PASSWORD: mena_root
    AWS_S3_KEY: AKIAICTYD24I2MEDEBHQ
    AWS_S3_SECRET: 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
    AWS_S3_REGION: us-east-1
    AWS_S3_BUCKET: menahouse-production
    AWS_SQS_KEY: AKIAI5433UKVOZT3KYUQ 
    AWS_SQS_SECRET: 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
    AWS_SQS_PREFIX: https://sqs.us-east-1.amazonaws.com/269564822691/menahouse
    AWS_SQS_QUEUE: {QUEUE}
    AWS_SQS_REGION: us-east-1
    REDIS_HOST: menacache.tioeqn.0001.use1.cache.amazonaws.com